.login-form {
  background-color: #ebebeb;
  padding-top: 10%;
}
.login-form .notification .alert {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}
.login-form .login-card {
  background-color: #fff;
  padding: 40px;
  width: 300px;
  margin: 0 auto 10px;
  border-radius: 8px;
  overflow: hidden;
  padding-top: 20px;
}
.login-form .login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}
.login-form .login-card input {
  height: 44px;
  color: #000;
  font-size: 14px;
  width: 100%;
  border: 1px solid #d9d9d9;
  padding: 0 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.login-form .login-card input.password {
  border-top: none;
}
.login-form .login-card input:hover {
  border: 1px solid #b9b9b9;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
.login-form .login-card .login {
  border-radius: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  padding: 13px;
}
.login-form .login-card .login.btn-login-submit {
  width: 80%;
  margin: 0 auto;
  display: block;
  margin: 30px auto 10px;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  border: 0px;
  background-color: #337ab7;
}
.login-form .login-card .login.btn-login-submit:hover {
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #5bc0de;
}
